.skillsBody {
  max-width: 100%;
  /* margin-top: 10%; */
  display: grid;
  grid-template-rows: min-content min-content min-content;
  grid-template-columns: 60% 20% 20%;
}
.skills-title h1 {
  font-family: "Be Vietnam";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 58px;

  color: #f37a7a;
}
.skills-title {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 1%;
}
.skills-text p{
  font-size: 22px;
}
.skills-image {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 1%;
}
.skills-image img {
  /* margin-top: 10%; */
  margin-bottom: 10%;
}
.skills-text {
  margin-top: 0%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.skills ul li {
  display: inline-flex;
  margin: 4%;
}
.skillsTextBody{
  margin-top: 4%;
}

@media (max-width: 860px) {
  .skillsBody {
    max-width: 100%;
    display: grid;
    grid-template-rows: min-content min-content min-content;
    grid-template-columns: 50%;
  }
  .skills-image {
    grid-column-start: 1;
    grid-column-end: 1fr;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 1%;
  }
  .skillsTextBody {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 1%;
  }
  .skills-text p {
    font-size: 23px;
  }
}
