.experiencetitle h1 {
  margin-bottom: 5%;
  font-family: "Be Vietnam";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 58px;

  color: #f37a7a;
}
.experienceBody {
  max-width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: min-content;
}
.experienceImg img {
  margin-top: 0%;
  margin-bottom: 0%;
}
.experienceText {
  margin-top: 3%;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.experienceInfo {
  margin-top: 5%;
}
.experienceInfo ul li {
  margin-top: 2%;
}
.experienceInfoTitle {
  text-align: start;
}
.experienceInfoTitle p {
  margin-left: 2%;
}
.experienceInfo {
  text-align: start;
}
@media (max-width: 860px) {
  .experienceBody {
    max-width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content min-content;
  }
  .experienceText {
    margin-top: 5%;
  }
}
